<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @fact.title %>
</p>

<p>
  <b>Content:</b>
  <%= @fact.content %>
</p>

<p>
  <b>Author:</b>
  <%= @fact.author %>
</p>


<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
